@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-white: "#FFF";
  --primary-black: #150e28;
  --primary-pupple: #903aff;
  --primary-mix: #d434fe;
  --secondary-pink: #fe34b9;
  --primary-gradient: linear-gradient(
    270deg,
    var(--primary-pupple) 0%,
    var(--secondary-pink) 100%
  );
}

body {
}
